
<ngb-carousel [showNavigationArrows]=false [showNavigationIndicators]=false>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide1.JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide2.JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/cartazes/Post_Prancheta 1 cópia 3.png" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide3.JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide1 (2).JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/cartazes/Post_Prancheta 1 cópia 22.png" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide1 (3).JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide1 (4).JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/cartazes/Post_Prancheta 1 cópia 3.png" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide1 (5).JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide1 (6).JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/cartazes/Post_Prancheta 1 cópia 22.png" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide1 (7).JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../assets/montras_01/Slide1 (8).JPG" style="height: 100vh; margin: auto; display: block;" alt="">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>
